<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<div class="filter-container">  
  <h2>Filtrar Servicios</h2>  
  
  <!-- Filtro por Precio -->  
  <div>  
    <label for="minPrecio">Precio Mínimo:</label>  
    <input type="number" id="minPrecio" [(ngModel)]="filter.minPrecio" placeholder="Ingresa el precio mínimo" />  
    
    <label for="maxPrecio">Precio Máximo:</label>  
    <input type="number" id="maxPrecio" [(ngModel)]="filter.maxPrecio" placeholder="Ingresa el precio máximo" />  
  </div>  

  <!-- Filtro por Destacado -->  
  <div>  
    <label for="destacado">Destacados:</label>  
    <select id="destacado" [(ngModel)]="filter.destacado">  
      <option value="">Todos</option>  
      <option [value]="true">Sí</option>  
      <option [value]="false">No</option>  
    </select>  
  </div>  

  <!-- Filtros adicionales - Opcional -->  
  <div>  
    <label for="categoria">Categoría:</label>  
    <input type="text" id="categoria" [(ngModel)]="filter.categoria" placeholder="Ingresa categoría" />  

    <label for="subcategoria">Subcategoría:</label>  
    <input type="text" id="subcategoria" [(ngModel)]="filter.subcategoria" placeholder="Ingresa subcategoría" />  
  </div>  

  <!-- Botón para aplicar filtro -->  
  <button (click)="applyFilters()">Aplicar Filtros</button>  
</div> 


<!-- Botón para publicar un requerimiento -->   
<div class="flex space-x-4">  
  <button (click)="publicarNecesidad()" class="p-1 border rounded hover:bg-gray-25">  
    <img src="assets/cliente.jpg" alt="Buyer" class="small-image"/>  
  </button>   
</div>



<div class="exchange-rate">  
  <h2>El valor del dólar BCV Hoy es:   
    <span *ngIf="exchangeRate !== null; else loading">  
      {{ exchangeRate | number:'1.2-2' }}   
    </span>  
    <ng-template #loading>  
      Cargando...  
    </ng-template>  
  </h2>  
</div>  

<!-- El resto de tu HTML para los modales y otros elementos -->

<h2>Servicios Disponibles</h2>  
<div class="services-container">  
  <div class="card service-card" *ngFor="let service of services">  
    <div (click)="showModal(service)">
      <h3>{{ service.nombre }}</h3>  
      <p>{{ service.descripcion }}</p>  
        <p><strong>Ubicación:</strong> {{ service.address || "No disponible" }}</p>   
      <p><strong>Precio:</strong> ${{ service.precio }}</p>  
      <p><strong>Destacado:</strong> {{ service.destacado ? 'Sí' : 'No' }}</p>  
      <p><strong>Categoría:</strong> {{ service.categoria }}</p>  
      <p><strong>Subcategoría:</strong> {{ service.subcategoria }}</p>  
      <p><strong>Cerca: </strong>{{ service.nearby != null && service.nearby >= 0 ? service.nearby.toFixed(2) : "S/I" }} Km</p>

      <p>
        <span class="highlight">{{ service.remoto ? 'El servicio es online' : 'El servicio es presencial' }}</span>  
      </p>  
    </div>
    <button *ngIf="service.allowNegotiation" (click)="abrirNegociacion(service)">Negociar</button>  
  </div>
</div>

<!-- Modal para Contratar Servicio -->  
<div class="modal" [ngClass]="{'is-active': modalVisible}">  
  <div class="modal-background" (click)="closeModal()"></div>  
  <div class="modal-content">  
    <div class="box">  
      <h3>{{ selectedService?.nombre }}</h3>  
      <p>{{ selectedService?.descripcion }}</p>  
      <p><strong>Precio en dolares:</strong> ${{ selectedService?.precio }}</p>   
      <p><strong>Precio en bolívares:</strong>   
        <ng-container *ngIf="selectedService?.precio && exchangeRate; else notAvailable">  
            {{ (selectedService.precio * exchangeRate) | number:'1.2-2' }}  
        </ng-container>  
        <ng-template #notAvailable>N/A</ng-template>  
    </p> 
      <p><strong>Destacado:</strong> {{ selectedService?.destacado ? 'Sí' : 'No' }}</p>  
      <p><strong>Categoría:</strong> {{ selectedService?.categoria }}</p>  
      <p><strong>Subcategoría:</strong> {{ selectedService?.subcategoria }}</p>  
      <p><span class="highlight">{{ selectedService?.remoto ? 'El servicio es online' : 'El servicio es presencial' }}</span></p>  

      <div class="modal-buttons">  
        <button (click)="openPaymentMethodModal()" class="button is-success">Contratar</button>  
        <button (click)="closeModal()" class="button is-danger">Cancelar</button>  
      </div>  
    </div>  
  </div>  
  <button class="modal-close is-large" aria-label="close" (click)="closeModal()"></button>  
</div>  

<!-- Modal para Selección de Método de Pago -->  
<div class="modal" [ngClass]="{'is-active': paymentMethodModalVisible}">  
  <div class="modal-background" (click)="closePaymentMethodModal()"></div>  
  <div class="modal-content">  
    <div class="box">  
      <h3>Selecciona un Método de Pago</h3>  
      <button (click)="selectPaymentMethod('pagoMovil')" class="button pago-movil">  
        <i class="fas fa-phone"></i> Pago Móvil  
      </button>  
      <button (click)="selectPaymentMethod('transferenciaBancaria')" class="button transferencia-bancaria">  
        <i class="fas fa-desktop"></i> Transferencia Bancaria  
      </button>  
      <button (click)="selectPaymentMethod('binance')" class="button binance">  
        <i class="fab fa-btc"></i> Binance  
      </button>  
      <div *ngIf="selectedPaymentMethod">  
        <button (click)="openPaymentDetailsModal()" class="button is-success">Ya Pagué</button>  
      </div>  
    </div>  
  </div>  
  <button class="modal-close is-large" aria-label="close" (click)="closePaymentMethodModal()"></button>  
</div>

<!-- Modal para Detalles de Pago -->  
<div class="modal" [ngClass]="{'is-active': paymentDetailsModalVisible}">  
  <div class="modal-background" (click)="closePaymentDetailsModal()"></div>  
  <div class="modal-content">  
    <div class="box">  
      <h3>Detalles de Pago</h3>  
      <!-- Modal para PAGO MOVIL --> 
      <div *ngIf="selectedPaymentMethod === 'pagoMovil'">  
        <div class="form-row">  
          <label>Banco:</label>  
          <label>Bancamiga</label> 
        </div>  
        <div class="form-row">  
          <label>Teléfono:</label>  
          <label>04123705210</label> 
        </div>  
        <div class="form-row">  
          <label>Cédula:</label>  
          <label>24286418</label>   
        </div>  
        <div class="form-row">  
          <label>Monto:</label>  
          <label><ng-container *ngIf="selectedService?.precio && exchangeRate; else notAvailable">  
            {{ (selectedService.precio * exchangeRate) | number:'1.2-2' }}  
        </ng-container>  
        <ng-template #notAvailable>N/A</ng-template> </label>  
        </div>   
      </div>  
      <!-- Modal para TRANSFERENCIA BANCARIA --> 
      <div *ngIf="selectedPaymentMethod === 'transferenciaBancaria'">  
        <div class="form-row">  
          <label>Banco:</label>  
          <label>Bancamiga</label> 
        </div>  
        <div class="form-row">  
          <label>Número de Cuenta:</label>  
          <label>01720107701075174910</label> 
        </div>  
        <div class="form-row">  
          <label>RIF:</label>  
          <label>242864189</label>  
        </div>  
        <div class="form-row">  
          <label>Monto:</label>  
          <label><ng-container *ngIf="selectedService?.precio && exchangeRate; else notAvailable">  
            {{ (selectedService.precio * exchangeRate) | number:'1.2-2' }}  
        </ng-container>  
        <ng-template #notAvailable>N/A</ng-template> </label>  
        </div>  
      </div>  
      <!-- Modal para BINANCE --> 
      <div *ngIf="selectedPaymentMethod === 'binance'">  
        <div class="form-row">  
          <label>Correo:</label>  
          <label>chacrlonroman&#64;gmail.com</label>  
        </div>  
        <div class="form-row">  
          <label>Monto:</label>  
          <label><ng-container *ngIf="selectedService?.precio ; else notAvailable">  
            {{ (selectedService.precio ) | number:'1.2-2' }}  
        </ng-container>  
        <ng-template #notAvailable>N/A</ng-template> </label>    
        </div>  
      </div>  
      <button (click)="openReferenceModal()" class="button is-success">Ya Pagué</button>  
    </div> 
  </div>  
  <button class="modal-close is-large" aria-label="close" (click)="closePaymentDetailsModal()"></button>  
</div>

<!-- Modal para Introducir Referencia -->  
<div class="modal" [ngClass]="{'is-active': referenceModalVisible}">  
  <div class="modal-background" (click)="closeReferenceModal()"></div>  
  <div class="modal-content">  
    <div class="box">  
      <h3>Introduce la referencia de pago</h3>  
      <ng-container *ngIf="selectedPaymentMethod === 'pagoMovil'">  
        <label>Referencia:</label>  
        <input type="text" [(ngModel)]="referenciaPago" placeholder="Introduce la referencia de pago" />  
        <label>Teléfono:</label>  
        <input type="text" [(ngModel)]="telefono" placeholder="Introduce tu teléfono" />  
      </ng-container>  
      <ng-container *ngIf="selectedPaymentMethod === 'transferenciaBancaria'">  
        <label>Referencia:</label>  
        <input type="text" [(ngModel)]="referenciaPago" placeholder="Introduce la referencia de pago" />  
        <label>Número de Cuenta:</label>  
        <input type="text" [(ngModel)]="numeroCuenta" placeholder="Introduce tu número de cuenta" />  
      </ng-container>  
      <ng-container *ngIf="selectedPaymentMethod === 'binance'">  
        <label>Referencia:</label>  
        <input type="text" [(ngModel)]="referenciaPago" placeholder="Introduce la referencia de pago" />  
        <label>Correo de Binance:</label>  
        <input type="email" [(ngModel)]="correoBinance" placeholder="Introduce tu correo de Binance" />  
      </ng-container>  
      <button (click)="confirmPayment()" class="button is-success">Confirmar</button>  
    </div>  
  </div>  
  <button class="modal-close is-large" aria-label="close" (click)="closeReferenceModal()"></button>
  
</div>