<div class="card">
    <div class="card-header">
      <h5>Restablecer contraseña</h5>
    </div>
    <div class="card-body">
      <form (ngSubmit)="onSubmit()" *ngIf="isTokenValid">
        <input 
          type="password" 
          [(ngModel)]="newPassword" 
          name="newPassword"
          class="form-control my-2"
          placeholder="Nueva contraseña"
          required>
        
        <button type="submit" class="btn btn-primary">
          Cambiar contraseña
        </button>
      </form>

      <div *ngIf="!isTokenValid" class="alert alert-danger mt-3">
        Enlace inválido o expirado.
      </div>
    </div>
  </div>