<div class="role-container">
  <h2 class="role-title">Esoja el rol que usará:</h2>
  
  <div class="button-wrapper">
    <button (click)="selectRole('buyer')" class="role-button">
      <div class="image-container">
        <img src="assets/cliente.jpg" alt="Comprador" class="role-img"/>
      </div>
      <span class="button-text">Requiero contratar un servicio</span>
    </button>

    <button (click)="selectRole('seller')" class="role-button">
      <div class="image-container">
        <img src="assets/proveedor.jpg" alt="Proveedor" class="role-img"/>
      </div>
      <span class="button-text">Soy proveedor de servicio</span>
    </button>
  </div>
</div>