<div class="flex flex-col items-center">  
    <h2 class="text-lg font-bold">Select Your Role</h2>  
    <div class="flex space-x-4">  
      <button (click)="selectRole('buyer')" class="p-1 border rounded hover:bg-gray-25">  
        <img src="assets/cliente.jpg" alt="Buyer" class="small-image"/>  
      </button>  
      <button (click)="selectRole('seller')" class="p-1 border rounded hover:bg-gray-25">  
        <img src="assets/proveedor.jpg" alt="Seller" class="small-image"/>  
      </button>  
    </div>  

    
  </div>