<!-- notification-modal.component.html -->  
<div class="modal">  
  <div class="modal-content">  
    <div class="modal-header">  
      <h1>{{ data.message }}</h1>  
    </div>  
    <div class="modal-footer">  
      <button mat-button (click)="onClose()">Cerrar</button>  
      <button mat-button (click)="contactUser()" *ngIf="extractingUrl(data.message) == ''">Contactar</button> <!-- Nuevo botón -->  
      <a *ngIf="extractingUrl(data.message) != ''" [href]="extractingUrl(data.message)" class="pointer">Ir al sitio</a>
    </div>
  </div>
</div>