<div class="container">  

  <form>  
      <div class="flex flex-col items-center">  
        <h2 class="text-lg font-bold">Disputa en curso #{{padStart(claimsId)}}</h2>
        <div class="flex space-x-4">
        <div class="row">
          <label for="nombre">Servicio:</label>  
          <input type="text" id="nombre" name="nombre" required>  
        </div>

        <div class="row">
          <label for="paymentMethod">Metodo de pago:</label>  
          <input type="text" id="paymentMethod" name="paymentMethod" required>  
        </div>
        </div>
      </div>
    </form>
</div>