/* Navbar Styles */  
.navbar {  
  background-color: #ffffff; /* Color azul profesional */  
  padding: 10px 20px; /* Relleno adicional para el navbar */  
}  

/* Estilo para el logo en el navbar */  
.navbar-logo {  
  width: 40px; /* Ajusta el tamaño del logo según sea necesario */  
  height: auto; /* Mantiene la proporción del logo */  
  margin-right: 10px; /* Espacio entre el logo y el texto */  
}  

/* Cambiar el color del texto de los enlaces en el navbar */  
.navbar-brand,   
.nav-link {  
  color: rgb(0, 0, 0); /* Color de texto blanco */  
}  

/* Cambiar el color de los enlaces al pasar el mouse (hover) */  
.nav-link:hover {  
  color: rgba(30, 129, 221, 0.8); /* Un color azul claro en hover */  
}  

/* Estilo para el botón de login y logout */  
.btn-outline-success {  
  border-color: rgb(226, 40, 40); /* Color del borde */  
  color: rgb(233, 42, 42); /* Color del texto del botón */  
}  

.btn-outline-success:hover {  
  background-color: rgba(255, 255, 255, 0.2); /* Fondo claro en hover */  
}  

/* Cambiar el color del botón de sign in */  
.btn-outline-primary {  
  border-color: rgb(24, 0, 129); /* Color del borde */  
  color: rgb(24, 0, 129); /* Color del texto del botón */  
}  

.btn-outline-primary:hover {  
  background-color: rgba(5, 2, 212, 0.884); /* Fondo claro al pasar el mouse */  
}  

/* Espaciado adicional para los items del navbar */  
.nav-item {  
  margin: 0 15px; /* Espaciado horizontal para los items */  
}
.social-icons {  
  display: flex; /* Usar flexbox para alinear los iconos horizontalmente */  
  align-items: center; /* Centrar verticalmente los iconos */  
  margin-left: auto; /* Empujar los iconos hacia el lado derecho */  
}  

.social-icon {  
  margin-left: 15px; /* Espaciado entre los íconos */  
}  

.social-icon img {  
  width: 24px; /* Ajusta el tamaño de los íconos según sea necesario */  
  height: auto; /* Mantener la proporción de aspecto */  
}
.badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 8px;
  border-radius: 50%;
  font-size: 0.75rem;
}

/* Estilos para el dropdown Admin */
.dropdown-container {
  position: relative;
  display: inline-block;
}

.dropdown-trigger {
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  box-shadow: 0 8px 16px rgba(0,0,0,0.1);
  min-width: 200px; /* Reducido para que se ajuste al menú vertical */
  z-index: 1000;
  padding: 15px;
}

.dropdown-container:hover .dropdown-content {
  display: block;
}

.submenu-options {
  display: flex;
  flex-direction: column; /* Esto hace que los elementos se apilen verticalmente */
  gap: 10px; /* Espacio entre elementos */
  margin-bottom: 15px;
}

.submenu-item {
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
  padding: 8px 12px;
  border-radius: 4px;
  transition: all 0.3s;
  text-align: left; /* Alinea el texto a la izquierda */
}

.submenu-item:hover {
  background-color: #f0f0f0;
}

.submenu-container {
  max-height: 70vh;
  overflow-y: auto;
}