<div class="modal-content">
  <h3>Negociación para: {{ data.titleService }}</h3>
  
  <div class="row" *ngIf="negotiationData">
    <p>Oferta enviada: ${{ negotiationData.amount }}</p>
    <p>Justificación: {{ negotiationData.justification }}</p>
    <p>Oferta {{ negotiationData.offerCount }}/3</p>

    <span *ngIf="negotiationData.offerCount >=3" class="max_offer text-center">Límite de ofertas alcanzado</span>
  </div>

  <form [formGroup]="formGroup" class="text-center">
    
    <div class="row">
      <input type="number" formControlName="counterAmount" 
      [placeholder]="'Monto (mínimo $' + data.presupuestoInicial + ')'">
      <textarea formControlName="counterJustification"
      placeholder="Justificación de la oferta"></textarea>
    </div>

    
    <button (click)="sendOffer()" [disabled]="formGroup.invalid || negotiationData?.offerCount >=3 ">
      {{ data.isInitialOffer ? 'Enviar Oferta' : 'Enviar Contraoferta' }}
    </button>
  </form>
  
  <div class="row text-center " *ngIf="messageError">
    <span class="max_offer text-center">{{messageError}}</span>
  </div>  
</div>