/* Agrega !important para sobrescribir posibles estilos conflictivos */
.modal {
    display: flex !important; 
    visibility: visible !important;
    opacity: 1 !important;
}

.modal-content {
    position: relative;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}