/* Estilos para la tabla */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #e0e0e0;
}

th {
  background-color: #2196F3; /* Azul */
  color: white;
  font-weight: bold;
}

tr:hover {
  background-color: #f1f8ff; /* Azul claro */
}

/* Estilos para los botones de acción */
button {
  padding: 8px 16px;
  margin-right: 5px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #2196F3; /* Azul */
  color: white;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #1976D2; /* Azul más oscuro */
}

button:disabled {
  background-color: #90CAF9; /* Azul claro */
  cursor: not-allowed;
}

/* Estilos para los controles de paginación */
.pagination-controls {
  margin: 20px 0;
  display: flex;
  align-items: center;
  gap: 15px;
}

.pagination-controls select {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #2196F3; /* Azul */
  background-color: white;
  color: #2196F3; /* Azul */
  font-size: 14px;
  cursor: pointer;
}

.pagination-controls select:hover {
  border-color: #1976D2; /* Azul más oscuro */
}

.pagination-controls button {
  padding: 8px 16px;
  cursor: pointer;
  border: 1px solid #2196F3; /* Azul */
  background-color: white;
  color: #2196F3; /* Azul */
  font-size: 14px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination-controls button:hover {
  background-color: #2196F3; /* Azul */
  color: white;
}

.pagination-controls button:disabled {
  border-color: #90CAF9; /* Azul claro */
  color: #90CAF9; /* Azul claro */
  cursor: not-allowed;
}

/* Estilos para el total de registros */
.total-registros {
  margin-top: 10px;
  font-style: italic;
  color: #2196F3; /* Azul */
  font-size: 14px;
}