<div class="card">
    <div class="card-header">
      <h5>Recuperar contraseña</h5>
    </div>
    <div class="card-body">
      <form (ngSubmit)="onSubmit()">
        <input 
          type="text" 
          [(ngModel)]="username" 
          name="username"
          class="form-control my-2"
          placeholder="Nombre de usuario"
          required>
        <button type="submit" class="btn btn-primary">
          Enviar enlace de recuperación
        </button>
      </form>
    </div>
  </div>